{% extends 'base.html' %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4">
				<div class="card"> <img class="card-img-top" src="http://via.placeholder.com/800x533" alt="Card image cap">
					<div class="card-body text-center">
						<h5 class="card-title">Listing 1</h5>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4">
				<div class="card"> <img class="card-img-top" src="http://via.placeholder.com/800x533" alt="Card image cap">
					<div class="card-body text-center">
						<h5 class="card-title">Listing 2</h5>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-12 col-md-4">
				<div class="card"> <img class="card-img-top" src="http://via.placeholder.com/800x533" alt="Card image cap">
					<div class="card-body text-center">
						<h5 class="card-title">Listing 3</h5>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
