{% extends 'base.html' %}
{% block content %}
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-center text-uppercase">
            <h2>Find Your Future Roommate</h2>
            <h2>Listings</h2>
          </div>
        </div>
      </div>

    <div class="container">
  <h2>Local Listings</h2>        
  <table class="table">

    <tbody>
      <tr>
        <td><img src="" alt="img" class="mr-3">John Doe</td>
        <td>Address</td>
        <td>price</td>
      </tr>
      <tr>
        <td><img src="" alt="img" class="mr-3">Mary Moe</td>
        <td>Address</td>
        <td>price</td>
      </tr>
      <tr>
        <td><img src="" alt="img" class="mr-3">July Dooley</td>
        <td>Address</td>
        <td>price</td>
      </tr>
    </tbody>
  </table>
</div>
    <main>
      <div class="d-flex">
        <ul class="list-group"></ul>
        <img>
      </div>
      
    </main>
{% endblock %}